Repository Ellipsis-Labs/cargo-hold: changes, and which lefthook commands are due for each by the changed paths.
All: taplo, prettier, rustfmt, alejandra

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

# There are bugs in older versions that we want to avoid.
min_version: 1.11.12

pre-commit:
  parallel: true
  commands:
    taplo:
      glob: "*.toml"
      run: taplo fmt {staged_files}
      tags: [lint, fmt, toml]
      stage_fixed: true
    prettier:
      glob: "*.{json,yaml,yml,md,js,ts,jsx,tsx}"
      run: npx -y prettier --write {staged_files}
      tags: [lint, fmt, json, yaml, md, js, ts]
      stage_fixed: true
    rustfmt:
      glob: "**/*.rs"
      run: cargo +nightly fmt -- {staged_files}
      tags: [lint, fmt, rust]
      stage_fixed: true
    alejandra:
      glob: "*.nix"
      tags: [lint, fmt, nix]
      run: alejandra {staged_files}
      stage_fixed: true

lints
  src/commands/heave.rs
  src/commands/tests.rs
Due: rustfmt

feat: improve GC auto cap heuristics and split commands module (#33)
  src/commands.rs
  src/commands/anchor.rs
  src/commands/heave.rs
  src/commands/mod.rs
  src/commands/tests.rs
  src/commands/voyage.rs
Due: rustfmt

chore: bump version
  Cargo.lock
  Cargo.toml
Due: taplo

chore: bump version (#34)
  Cargo.lock
  Cargo.toml
Due: taplo

feat: harden auto max cap and log metrics
  src/cli.rs
  src/commands/heave.rs
  src/commands/tests.rs
  src/commands/voyage.rs
  src/discovery.rs
  src/error.rs
  src/gc.rs
  src/hashing.rs
  src/metadata.rs
  src/state.rs
  src/timestamp.rs
Due: rustfmt

fix: lints
  src/commands/heave.rs
  src/error.rs
  src/timestamp.rs
Due: rustfmt

fix: clippy
  src/commands/heave.rs
Due: rustfmt

feat: harden auto max cap and log metrics (#35)
  src/cli.rs
  src/commands/heave.rs
  src/commands/tests.rs
  src/commands/voyage.rs
  src/discovery.rs
  src/error.rs
  src/gc.rs
  src/hashing.rs
  src/metadata.rs
  src/state.rs
  src/timestamp.rs
Due: rustfmt

chore: bump version (#36)
  Cargo.lock
  Cargo.toml
Due: taplo

fix: stabilize heave cap sizing
  src/commands/heave.rs
  src/commands/tests.rs
  src/gc.rs
Due: rustfmt

fix: lints
  src/gc.rs
Due: rustfmt

fix: stabilize heave cap sizing (#37)
  src/commands/heave.rs
  src/commands/tests.rs
  src/gc.rs
Due: rustfmt

chore: bump version (#38)
  Cargo.lock
  Cargo.toml
Due: taplo

fix: preserve gc metrics on anchor stow
  src/commands/anchor.rs
  src/commands/tests.rs
Due: rustfmt

fix: preserve gc metrics on anchor stow (#40)
  src/commands/anchor.rs
  src/commands/tests.rs
Due: rustfmt

chore: bump version (#41)
  Cargo.lock
  Cargo.toml
Due: taplo

chore: bump version (#42)
  Cargo.lock
  Cargo.toml
Due: taplo

feat: harden auto max target sizing
  src/commands/heave.rs
  src/commands/tests.rs
Due: rustfmt

fix: clippies
  src/commands/tests.rs
Due: rustfmt

feat: harden auto max target sizing (#43)
  src/commands/heave.rs
  src/commands/tests.rs
Due: rustfmt

refactor: modularize cli, commands, and gc
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/cli/tests.rs
  src/commands/anchor.rs
  src/commands/bilge.rs
  src/commands/gc_options.rs
  src/commands/heave.rs
  src/commands/mod.rs
  src/commands/salvage.rs
  src/commands/stow.rs
  src/commands/tests.rs
  src/commands/voyage.rs
  src/gc.rs
  src/gc/artifacts.rs
  src/gc/auto_cap.rs
  src/gc/cargo.rs
  src/gc/cleanup.rs
  src/gc/config.rs
  src/gc/mod.rs
  src/gc/size.rs
  src/gc/tests.rs
  src/hashing.rs
  src/lib.rs
  src/logging.rs
  src/metadata.rs
  src/metadata/mod.rs
  src/metadata/tests.rs
  src/state/mod.rs
  src/state/tests.rs
  src/timestamp/mod.rs
  src/timestamp/tests.rs
  tests/the_tests/cargo_cleanup_test.rs
  tests/the_tests/gc_tests.rs
  tests/the_tests/helpers.rs
  tests/the_tests/integration_test.rs
  tests/the_tests/mod.rs
Due: taplo, rustfmt

refactor: modularize cli, commands, and gc (#44)
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/cli/tests.rs
  src/commands/anchor.rs
  src/commands/bilge.rs
  src/commands/gc_options.rs
  src/commands/heave.rs
  src/commands/mod.rs
  src/commands/salvage.rs
  src/commands/stow.rs
  src/commands/tests.rs
  src/commands/voyage.rs
  src/gc.rs
  src/gc/artifacts.rs
  src/gc/auto_cap.rs
  src/gc/cargo.rs
  src/gc/cleanup.rs
  src/gc/config.rs
  src/gc/mod.rs
  src/gc/size.rs
  src/gc/tests.rs
  src/hashing.rs
  src/lib.rs
  src/logging.rs
  src/metadata.rs
  src/metadata/mod.rs
  src/metadata/tests.rs
  src/state/mod.rs
  src/state/tests.rs
  src/timestamp/mod.rs
  src/timestamp/tests.rs
  tests/the_tests/cargo_cleanup_test.rs
  tests/the_tests/gc_tests.rs
  tests/the_tests/helpers.rs
  tests/the_tests/integration_test.rs
  tests/the_tests/mod.rs
Due: taplo, rustfmt

feat: honor CARGO_HOME in registry GC
  src/commands/heave.rs
  src/gc/cargo.rs
  src/gc/config.rs
  tests/the_tests/cargo_cleanup_test.rs
Due: rustfmt

feat: honor CARGO_HOME in registry GC (#45)
  src/commands/heave.rs
  src/gc/cargo.rs
  src/gc/config.rs
  tests/the_tests/cargo_cleanup_test.rs
Due: rustfmt

fix: record GC timestamp in heave
  README.md
  src/commands/heave.rs
  src/commands/stow.rs
  src/commands/tests.rs
  tests/the_tests/integration_test.rs
Due: prettier, rustfmt

fix: record GC timestamp in heave (#46)
  README.md
  src/commands/heave.rs
  src/commands/stow.rs
  src/commands/tests.rs
  tests/the_tests/integration_test.rs
Due: prettier, rustfmt

stop deleting credentials.toml when gc runs on cargo home
  src/gc/cargo.rs
  tests/the_tests/cargo_cleanup_test.rs
Due: rustfmt

chore: update dependencies
  Cargo.lock
  Cargo.toml
  tests/the_tests/helpers.rs
Due: taplo, rustfmt

chore: update dependencies (#55)
  Cargo.lock
  Cargo.toml
  tests/the_tests/helpers.rs
Due: taplo, rustfmt

stop deleting credentials.toml when gc runs on cargo home (#54)
  src/gc/cargo.rs
  tests/the_tests/cargo_cleanup_test.rs
Due: rustfmt

chore: bump version (#56)
  Cargo.lock
  Cargo.toml
Due: taplo

ci: use crates.io trusted publishing
  .github/workflows/publish.yaml
Due: prettier

ci: use crates.io trusted publishing (#60)
  .github/workflows/publish.yaml
Due: prettier

fix: fail ci on partial stow/salvage and keep restored cache artifacts
  src/commands/salvage.rs
  src/commands/stow.rs
  src/error.rs
  src/gc/artifacts.rs
  src/gc/cleanup.rs
  src/gc/tests.rs
  src/timestamp/mod.rs
  src/timestamp/tests.rs
Due: rustfmt
