Repository Ellipsis-Labs/cargo-hold: changes, and which lefthook commands are due for each by the changed paths.
All: taplo, prettier, rustfmt, alejandra

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
# pre-push:
#   commands:
#     packages-audit:
#       tags: frontend security
#       run: yarn audit
#     gems-audit:
#       tags: backend security
#       run: bundle audit
#
# pre-commit:
#   parallel: true
#   commands:
#     eslint:
#       glob: "*.{js,ts,jsx,tsx}"
#       run: yarn eslint {staged_files}
#     rubocop:
#       tags: backend style
#       glob: "*.rb"
#       exclude: '(^|/)(application|routes)\.rb$'
#       run: bundle exec rubocop --force-exclusion {all_files}
#     govet:
#       tags: backend style
#       files: git ls-files -m
#       glob: "*.go"
#       run: go vet {files}
#   scripts:
#     "hello.js":
#       runner: node
#     "any.go":
#       runner: go run

# There are bugs in older versions that we want to avoid.
min_version: 1.11.12

pre-commit:
  parallel: true
  commands:
    taplo:
      glob: "*.toml"
      run: taplo fmt {staged_files}
      tags: [lint, fmt, toml]
      stage_fixed: true
    prettier:
      glob: "*.{json,yaml,yml,md,js,ts,jsx,tsx}"
      run: npx -y prettier --write {staged_files}
      tags: [lint, fmt, json, yaml, md, js, ts]
      stage_fixed: true
    rustfmt:
      glob: "**/*.rs"
      run: cargo +nightly fmt -- {staged_files}
      tags: [lint, fmt, rust]
      stage_fixed: true
    alejandra:
      glob: "*.nix"
      tags: [lint, fmt, nix]
      run: alejandra {staged_files}
      stage_fixed: true

ci: improve workflow reliability and add cargo-binstall caching
  .github/actions/cargo-binstall/action.yaml
  .github/workflows/build.yaml
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
Due: taplo, prettier

ci: improve workflow reliability and add cargo-binstall caching (#1)
  .github/actions/cargo-binstall/action.yaml
  .github/workflows/build.yaml
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
  CLAUDE.md
  Cargo.lock
  Cargo.toml
Due: taplo, prettier

ci: replace cargo-hold-install with cargo-binstall
  .github/actions/cargo-hold-install/action.yaml
  .github/workflows/build.yaml
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
  Cargo.toml
Due: taplo, prettier

drop rustup step
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
Due: prettier

rustup update
  .github/workflows/build.yaml
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
Due: prettier

clippy
  .github/workflows/build.yaml
Due: prettier

rustup update does nothing
  .github/workflows/build.yaml
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
Due: prettier

ci: replace cargo-hold-install with cargo-binstall (#3)
  .github/actions/cargo-hold-install/action.yaml
  .github/workflows/build.yaml
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
  Cargo.toml
Due: taplo, prettier

chore: fix these bits (#4)
  .github/workflows/build.yaml
  .github/workflows/publish.yaml
Due: prettier

fix(ci): cache keys
  .github/actions/rust-cache/action.yaml
Due: prettier

that too
  README.md
Due: prettier

fix(ci): cache keys (#5)
  .github/actions/rust-cache/action.yaml
  README.md
Due: prettier

fix(ci): arch in cross build cache key
  .github/workflows/cross-build.yaml
Due: prettier

fix(ci): arch in cross build cache key (#6)
  .github/workflows/cross-build.yaml
Due: prettier

fix: correct capitalization
  Cargo.toml
Due: taplo

fix: correct capitalization (#7)
  Cargo.toml
Due: taplo

fix: skip symbolic links gracefully to prevent CI failures
  src/commands.rs
  src/discovery.rs
Due: rustfmt

fix: improve robustness of symlink and inaccessible file handling
  src/commands.rs
  src/discovery.rs
Due: rustfmt

fix: skip symbolic links gracefully to prevent CI failures (#14)
  src/commands.rs
  src/discovery.rs
Due: rustfmt

chore: bump version
  Cargo.lock
  Cargo.toml
Due: taplo

chore: bump version (#15)
  Cargo.lock
  Cargo.toml
Due: taplo

chore: move CLAUDE.md -> AGENTS.md and tidy up
  AGENTS.md
  CLAUDE.md
Due: prettier

chore: move CLAUDE.md -> AGENTS.md and tidy up (#20)
  AGENTS.md
  CLAUDE.md
Due: prettier

feat: finish quiet gc support
  Cargo.lock
  Cargo.toml
  src/commands.rs
  src/gc.rs
  tests/gc_algorithm_tests.rs
  tests/gc_tests.rs
  tests/integration_test.rs
Due: taplo, rustfmt

feat: finish quiet gc support (#21)
  Cargo.lock
  Cargo.toml
  src/commands.rs
  src/gc.rs
  tests/gc_algorithm_tests.rs
  tests/gc_tests.rs
  tests/integration_test.rs
Due: taplo, rustfmt

fix: restore GC preservation timestamp stability
  src/commands.rs
  src/gc.rs
  tests/gc_algorithm_tests.rs
  tests/gc_tests.rs
  tests/integration_test.rs
Due: rustfmt

fix lints
  src/commands.rs
  src/gc.rs
  src/timestamp.rs
Due: rustfmt

fix: restore GC preservation timestamp stability (#22)
  src/commands.rs
  src/gc.rs
  src/timestamp.rs
  tests/gc_algorithm_tests.rs
  tests/gc_tests.rs
  tests/integration_test.rs
Due: rustfmt

chore: bump version (#23)
  Cargo.lock
  Cargo.toml
Due: taplo

test: enhance tests, sandbox cargo home
  tests/common/mod.rs
  tests/entry.rs
  tests/the_tests/cargo_cleanup_test.rs
  tests/the_tests/gc_algorithm_tests.rs
  tests/the_tests/gc_tests.rs
  tests/the_tests/integration_test.rs
  tests/the_tests/mod.rs
Due: rustfmt

test: enhance tests, sandbox cargo home (#28)
  tests/common/mod.rs
  tests/entry.rs
  tests/the_tests/cargo_cleanup_test.rs
  tests/the_tests/gc_algorithm_tests.rs
  tests/the_tests/gc_tests.rs
  tests/the_tests/integration_test.rs
  tests/the_tests/mod.rs
Due: rustfmt

feat: auto-size GC cache cap and record telemetry
  Cargo.toml
  README.md
  src/cli.rs
  src/commands.rs
  src/gc.rs
  src/metadata.rs
  src/state.rs
Due: taplo, prettier, rustfmt

fix lock, complie, bump nix flake
  Cargo.lock
  flake.lock
  flake.nix
  rust-toolchain.toml
  tests/the_tests/integration_test.rs
Due: taplo, rustfmt, alejandra

clippies
  src/commands.rs
  src/state.rs
Due: rustfmt

fix: load legacy metadata without gc metrics
  README.md
  src/metadata.rs
  src/state.rs
Due: prettier, rustfmt

use default clippy
  .github/workflows/build.yaml
Due: prettier

feat: auto-size GC cache cap and record telemetry (#32)
  .github/workflows/build.yaml
  Cargo.lock
  Cargo.toml
  README.md
  flake.lock
  flake.nix
  rust-toolchain.toml
  src/cli.rs
  src/commands.rs
  src/gc.rs
  src/metadata.rs
  src/state.rs
  tests/the_tests/integration_test.rs
Due: taplo, prettier, rustfmt, alejandra

feat: improve GC auto cap heuristics and split commands module
  src/commands.rs
  src/commands/anchor.rs
  src/commands/heave.rs
  src/commands/mod.rs
  src/commands/tests.rs
  src/commands/voyage.rs
Due: rustfmt
