Repository Ellipsis-Labs/cargo-hold: changes, and which lefthook commands are due for each by the changed paths.
All: taplo, prettier, rustfmt, alejandra

taplo:
  run: taplo fmt {staged_files}
  tags:
  - lint
  - fmt
  - toml
  stage_fixed: true

prettier:
  run: npx -y prettier --write {staged_files}
  tags:
  - lint
  - fmt
  - json
  - yaml
  - md
  - js
  - ts
  stage_fixed: true

rustfmt:
  run: cargo +nightly fmt -- {staged_files}
  tags:
  - lint
  - fmt
  - rust
  stage_fixed: true

alejandra:
  tags:
  - lint
  - fmt
  - nix
  run: alejandra {staged_files}
  stage_fixed: true

fix: fmt and clippy for ci
  src/error.rs
  src/gc/artifacts.rs
  src/gc/auto_cap.rs
  src/gc/tests.rs
  src/timestamp/tests.rs
Due: rustfmt

test: distinguish stale cache mtimes from genuinely old artifacts
  src/gc/tests.rs
Due: rustfmt

fix: only rejuvenate cache-age artifacts, not genuinely old crates
  src/gc/artifacts.rs
Due: rustfmt

ci: attest release binaries
  .github/workflows/publish.yaml
Due: prettier

fix: satisfy manual checked division lint
  src/gc/auto_cap.rs
Due: rustfmt

fix: satisfy manual checked division lint (#64)
  src/gc/auto_cap.rs
Due: rustfmt

ci: attest release binaries (#63)
  .github/workflows/publish.yaml
Due: prettier

chore: bump version
  Cargo.lock
  Cargo.toml
Due: taplo

fix: skip symlink mtimes during heave rejuvenation
  src/gc/artifacts.rs
  src/gc/tests.rs
Due: rustfmt

fix: skip voyage artifact rejuvenation after source changes
  src/commands/anchor.rs
  src/commands/heave.rs
  src/commands/salvage.rs
  src/commands/voyage.rs
  src/gc/cleanup.rs
  src/gc/config.rs
  tests/the_tests/integration_test.rs
Due: rustfmt

fix: prevent auto cap growth from unhealthy gc runs
  src/commands/heave.rs
  src/commands/tests.rs
  src/gc/auto_cap.rs
  src/gc/tests.rs
  src/metadata/mod.rs
  src/metadata/tests.rs
  src/state/mod.rs
Due: rustfmt

fix: recover auto cap from protected working sets
  src/commands/heave.rs
  src/commands/tests.rs
  src/gc/artifacts.rs
  src/gc/auto_cap.rs
  src/gc/cleanup.rs
  src/gc/config.rs
  src/metadata/mod.rs
  src/metadata/tests.rs
  src/state/mod.rs
Due: rustfmt

fix(deps): update vulnerable Rust crates
  Cargo.lock
  Cargo.toml
Due: taplo

feat: add configurable voyage GC cooldown
  README.md
  src/cli/mod.rs
  src/cli/tests.rs
  src/commands/mod.rs
  src/commands/tests.rs
  src/commands/voyage.rs
  tests/the_tests/helpers.rs
  tests/the_tests/integration_test.rs
Due: prettier, rustfmt

chore: cargo update
  Cargo.lock
Due: none

ci: drop x86-64 Darwin builds
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
Due: prettier

docs: clarify voyage GC and argument parsing comments
  src/cli/mod.rs
  src/commands/voyage.rs
Due: rustfmt

fix(gc): reject negative --max-target-size instead of clamping to zero (#89)
  src/gc/size.rs
Due: rustfmt

feat: add configurable voyage GC cooldown (#90)
  Cargo.lock
  README.md
  src/cli/mod.rs
  src/cli/tests.rs
  src/commands/mod.rs
  src/commands/tests.rs
  src/commands/voyage.rs
  tests/the_tests/helpers.rs
  tests/the_tests/integration_test.rs
Due: prettier, rustfmt

ci: drop x86-64 Darwin builds (#91)
  .github/workflows/cross-build.yaml
  .github/workflows/publish.yaml
Due: prettier

chore: bump version (#92)
  Cargo.lock
  Cargo.toml
Due: taplo

Path conditions:
  taplo: any of: *.toml
  prettier: any of: *.{json,yaml,yml,md,js,ts,jsx,tsx}
  rustfmt: any of: **/*.rs
  alejandra: any of: *.nix
